/* ----------------------------------- *\
			forms elements styles
\* ----------------------------------- */
.frm-field-counter {
	display: block;
	position: relative;
	height: 47px;
	padding: 0 26px;
	overflow: hidden;
	.form-input {
		height: 47px;
		width: 100%;
		border-radius: 12px;
		border: none;
		padding: 0 10px;
		text-align: center;
		background: var(--clr-bg-vlight);
		font-size: 16px;
		font-weight: 500;
		color: var(--clr-light);
	}
	.button-plus, .button-minus {
		display: block;
		width: 40px;height: 47px;
		position: absolute;
		top: 0;left: -14px;
		cursor: pointer;
		padding: 0;
		min-width: 0;
		background: none;
		border: none;
		border-radius: 0;
		box-shadow: none;
		&:before, &:after {
			content: "";
			display: block;
			width: 12px;
			height: 2px;
			background: #C2BEBE;
			position: absolute;
			top: 50%;left: 50%;
			margin: -1px 0 0 -6px;
		}
		&:hover {
			background: none;
		}
	}
	.button-plus {
		left: auto;
		right: -14px;
		&:before, &:after {
			background-color: var(--clr-base);
		}
		&:before {
			transform: rotate(90deg);
		}
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type=number]{
		-moz-appearance: textfield;
	}
	
}
.frm-field-select {
	display: block;
	position: relative;
	.popup-content-block {
		background-color: var(--clr-bg-vlight);
		position: absolute;
		top: 100%;left: 0;right: 0;
		z-index: 20;
		border-radius: 15px;
		margin-top: 5px;
		display: none;
	}
	.btn-popup-toggle, .btn-popup-item {
		display: flex;
		align-items: center;
		padding: 0 35px 0 16px;
		font-size: 12px;
		color: var(--clr-light);
		font-weight: 400;
		border-radius: 15px;
		background: var(--clr-bg-vlight);
		height: 47px;
		position: relative;
		overflow: hidden;
		&:hover {
			background-color: var(--clr-bg-light);
		}
		&.active {
			&:before {
				transform: rotate(180deg);
			}
		}
		&:before {
			content: "";
			display: block;
			width: 24px;
			height: 24px;
			position: absolute;
			background: url(../img/icons/arrow-select.svg) center no-repeat;
			background-size: 100% auto;
			top: 50%;right: 18px;
			margin-top: -12px;
			transition: all ease 0.2s;
		}
		.button-ico {
			width: 16px;height: 16px;
			border-radius: 50%;
			flex-shrink: 0;
			margin: 0;
		}
		.button-title {
			flex: 1;
			padding: 0 0 0 10px;
			display: block;
			position: relative;
			max-width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			&:first-child {
				padding-left: 0;
			}
		}
	}
	.list {
		max-height: 220px;
		overflow-y: auto;
		overflow-x: hidden;
		scrollbar-width: none;
		-ms-overflow-style: none;
		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}
	}
	.btn-popup-item {
		background: none;
		padding-right: 15px;
		&:before {
			display: none;
		}
		&:hover {
			background: none;
			color: var(--clr-att);
		}
	}
}
.frm-main-search {
	position: relative;
	line-height: 1;
	.form-input {
		padding-right: 60px;
	}
	.btn-action-ico {
		z-index: 2;
		position: absolute;
		top: 50%;right: 10px;
		margin-top: -20px;
	}
}
.frm-row,
.frm-field,
.frm-row-submit {
    display: flex;
    flex-wrap: wrap;
	position: relative;
	line-height: 1;
}
.frm-field {
    display: block;
    width: 100%;
}
.frm-select, .frm-select-panel {
	position: relative;
	display: block;
	overflow: hidden;
    line-height: 1;
	input {
		display: block;
		position: absolute;
		top: 0;left: 0;
		width: 0;height: 0;
		opacity: 0;
		margin: 0;
		padding: 0;
	}
	label {
		display: block;
		position: relative;
		cursor: pointer;
        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
        }
	}
}
.frm-select-panel {
	input {
		&:checked {
			&~label {
				background-color: #fff;
				border-color: var(--clr-att);
				&:before {
					border-color: var(--clr-att);
				}
			}
		}
	}
	label {
		font-size: 13px;
		line-height: (18/13em);
		font-weight: 300;
		color: var(--clr-base);
		display: block;
		padding: 22px 22px 22px 72px;
		border-radius: 15px;
		background: var(--clr-bg-vlight);
		border: 2px solid var(--clr-bg-vlight);
		transition: all ease 0.2s;
		&:before {
			width: 20px;height: 20px;
			border-radius: 50%;
			background: #fff;
			border: 5px solid #fff;
			transition: all ease 0.2s;
			position: absolute;
			top: 50%;left: 29px;
			margin-top: -10px;
		}
	}
	.lbl-title {
		font-size: 14px;
		line-height: 15px;
		font-weight: 600;
		margin-bottom: 3px;
	}
}
.frm-select {
	overflow: visible;
	input {
		&[type="radio"] {
			&~label {
				&:after {
					width: 10px;height: 10px;
					background: var(--clr-att);
					border-radius: 50%;
					margin: -5px 0 0 -5px;
				}
				&:before {
					border-radius: 50%;
				}
			}
		}
		&:checked {
			&~label {
				&:after {
					opacity: 1;
				}
			}
		}
	}
	label {
		min-height: 20px;
		font-size: 12px;
		line-height: 16px;
		padding: 2px 0 0 28px;
		font-weight: 400;
		&:before, &:after {
			width: 20px;height: 20px;
			border-radius: 3px;
			background-color: var(--clr-bg-vlight);
			top: auto;
			bottom: auto;
			left: auto;
			right: auto;
			top: 10px;left: 10px;
			margin: -10px 0 0 -10px;
		}
		&:after {
			border-radius: 0;
			background: url(../img/icons/check.svg) center no-repeat;
			background-size: 24px auto;
			opacity: 0;
		}
	}
}
.form-disabled, .main-filter-box.show-ext .filter-main-wrap {
	position: relative;
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 20;
	}
	.form-input {
		background-color: #ECECEC !important;
		border-color: #ECECEC !important;
		color: #A3A3A4;
	}
	[placeholder]::-webkit-input-placeholder {color: #A3A3A4;}
	[placeholder]:-moz-placeholder {color: #A3A3A4;}
	[placeholder]::-moz-placeholder {color: #A3A3A4;}
	[placeholder]:-ms-input-placeholder {color: #A3A3A4;}
	select.form-input:required:invalid {
		color: #A3A3A4;
	}
	.frm-field-range {
		pointer-events: none;
		.field-range:after,
		.field-range-title,
		.form-input {
			color: #A3A3A4;
		}
		.ui-slider {
			.ui-slider-range {
				background-color: #E6EAF3;
			}
			.ui-slider-handle {
				border-color: #E6EAF3;
			}
		}
	}
	.btn {
		background-color: #ECECEC;
		border-color: #ECECEC;
		color: #A3A3A4;
	}
}
.frm-field-range {
	position: relative;
	.field-range-wrap {
		display: flex;
		margin: 0 -7px;
	}
	.field-range-slider {
		margin-top: 28px;
	}
	.field-range {
		padding: 0 7px;
		width: 50%;
		flex-shrink: 0;
		position: relative;
		&:after {
			position: absolute;
			top: 0;bottom: 0;right: 7px;
			padding: 0 12px 0 0;
			font-size: 12px;
			line-height: 47px;
			white-space: nowrap;
			z-index: 2;
			font-weight: 400;
			pointer-events: none;
			color: var(--clr-light);
		}
	}
	.field-range-slider {
		padding: 0 12px;
	}
	.ui-slider {
		height: 8px;
		background: none;
		&:before {
			content: "";
			display: block;
			position: absolute;
			border-radius: 4px;
			top: 0;
			bottom: 0;
			left: -12px;
			right: -12px;
			background: var(--clr-bg-vlight);
		}
		.ui-slider-range {
			background: var(--clr-att);
		}
		.ui-slider-handle {
			width: 24px;height: 24px;
			border-radius: 50%;
			background: #fff;
			border: 6px solid var(--clr-att);
			cursor: pointer;
			top: 50%;
			margin-top: -12px;
			margin-left: -12px;
			outline: none;
		}
	}
	.form-input {
		height: 47px;
		font-size: 14px;
		color: var(--clr-base);
		padding: 0 0 0 37px;
	}
	.field-range-title {
		display: block;
		font-size: 12px;
		line-height: 47px;
		color: var(--clr-light);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 37px;
		text-align: right;
		z-index: 2;
		pointer-events: none;
	}
}
@media (min-width: 1024px) {
	
}