
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="info-inner-wrap">
			<p>©2023 «<b>PROTREK.LIFE</b>». Все права защищены. <br>Ежедневно: с 9:00 до 22:00 по МСК</p>
			<p>ИП ЛЕОНОВ ВИКТОР ИГОРЕВИЧ <br>ИНН 632146992061 / ОГРНИП 321631200097</p>
			<p>
				<a href="" class="link-main link-dashed">Политика конфиденциальности</a>
				<br>
				<a href="" class="link-main link-dashed">Договор оферта</a>
			</p>
			<p>
				<a href="tel:84952151718" class="link-phone">+7 495 215-17-18</a>
			</p>
		</div>
		<div class="menu-inner-wrap">
			<ul class="menu">
				<li><a href="">Велосипеды</a></li>
				<li><a href="">Самокаты</a></li>
				<li><a href="">Запчасти</a></li>
				<li><a href="">Экипировка</a></li>
				<li><a href="">Инструменты</a></li>
				<li><a href="">Веломастерская</a></li>
				<li><a href="">Аксессуары</a></li>
			</ul>
			<ul class="menu">
				<li><a href="">Санки</a></li>
				<li><a href="">Санки-Коляски</a></li>
				<li><a href="">Снегокаты</a></li>
				<li><a href="">Тюбинги</a></li>
				<li><a href="">Аксессуары</a></li>
			</ul>
			<ul class="menu">
				<li><a href="">О компании</a></li>
				<li><a href="">Пункты самовывоза</a></li>
				<li><a href="">Вакансии</a></li>
				<li><a href="">Сертификаты</a></li>
				<li><a href="">Отзывы</a></li>
				<li><a href="">Каталог</a></li>
				<li><a href="">Доставка</a></li>
				<li><a href="">Гарантия и ремонт</a></li>
			</ul>
		</div>
		<div class="search-inner-wrap">
			<form action="/" class="frm-main-search">
				<input type="text" class="form-input" placeholder="Поиск товара">
				<button type="submit" class="btn-action-ico ico-search button-gray"></button>
			</form>
			<div class="pays-tiles-wrap">
				<div class="elm-photo">
					<img src="./img/main/pays.svg" alt="">
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->