
<!-- header -->
<header class="header">
	<!--header-main-panel-->
	<div class="header-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
					<picture class="logo-image">
						<source srcset="./img/main/logo.svg" media="(min-width: 768px)">
						<source srcset="./img/main/logo-m.svg" media="">
						<img src="./img/main/logo.svg" alt="" />
					</picture>
				</a>
			</div>
			<div class="search-wrap popup-search-wrap js-popup-wrap">
				<a href="" class="btn-popup btn-action btn-action-ico ico-search button-gray js-btn-popup-toggle"></a>
				<div class="popup-content-block js-popup-block">
					<form action="/" class="frm-main-search">
						<input type="text" class="form-input" placeholder="Поиск товара">
						<button type="submit" class="btn-action-ico ico-search button-gray"></button>
					</form>
				</div>
			</div>
			<div class="phone-wrap">
				<a href="tel:84952151718" class="link-phone">+7 495 215-17-18</a>
			</div>
			<div class="actions-wrap">
				<div class="action-wrap">
					<a href="" class="btn-action btn-action-ico ico-compare button-gray" data-count="6"></a>
				</div>
				<div class="action-wrap">
					<a href="" class="btn-action btn-action-ico ico-fav button-gray" data-count="6"></a>
				</div>
				<div class="action-wrap action-cart">
					<a href="" class="btn-action btn-action-ico ico-cart button-gray" data-count="6">
						<div class="button-title">В корзине 6 товаров</div>
						<div class="button-total" data-unit="₽">30 330</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--/header-main-panel-->
	<!--header-nav-panel-->
	<nav class="header-nav-panel cnt-section">
		<div class="inner-wrap">
			<div class="menu-wrap popup-menu-wrap js-popup-wrap">
				<a href="" class="btn-popup btn-action btn-action-ico ico-menu button-gray js-btn-popup-toggle"></a>
				<div class="popup-content-block js-popup-block">
					<div class="popup-menu-inner">
						<div class="menu-inner-wrap">
							<ul class="menu">
								<li class="submenu">
									<a href="" class="btn-menu">Велосипеды</a>
									<ul>
										<li><a href="">Детские</a></li>
										<li><a href="">Двухподвесы</a></li>
										<li><a href="">Комфортные</a></li>
										<li><a href="">Горные</a></li>
										<li><a href="">Шоссейные</a></li>
										<li><a href="">Женские</a></li>
										<li><a href="">Подростковые</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="" class="btn-menu">Самокаты</a>
									<ul>
										<li><a href="">Детские</a></li>
										<li><a href="">Двухподвесы</a></li>
										<li><a href="">Комфортные</a></li>
										<li><a href="">Горные</a></li>
										<li><a href="" class="active">Шоссейные</a></li>
										<li><a href="">Женские</a></li>
										<li><a href="">Подростковые</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="" class="btn-menu">Аксессуары</a>
									<ul>
										<li><a href="">Дорожные</a></li>
										<li><a href="">Шоссейные</a></li>
										<li><a href="">Подростковые</a></li>
										<li><a href="">Горные</a></li>
										<li><a href="">Двухподвесы</a></li>
										<li><a href="">Электро</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="" class="btn-menu">Запчасти</a>
									<ul>
										<li><a href="">Дорожные</a></li>
										<li><a href="">Шоссейные</a></li>
										<li><a href="">Подростковые</a></li>
										<li><a href="">Горные</a></li>
										<li><a href="">Двухподвесы</a></li>
										<li><a href="">Электро</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="" class="btn-menu">Экипировка</a>
									<ul>
										<li><a href="">Дорожные</a></li>
										<li><a href="">Шоссейные</a></li>
										<li><a href="">Подростковые</a></li>
										<li><a href="">Горные</a></li>
										<li><a href="">Двухподвесы</a></li>
										<li><a href="">Электро</a></li>
									</ul>
								</li>
								<li class="submenu">
									<a href="" class="btn-menu">Инструменты</a>
									<ul>
										<li><a href="">Дорожные</a></li>
										<li><a href="">Шоссейные</a></li>
										<li><a href="">Подростковые</a></li>
										<li><a href="">Горные</a></li>
										<li><a href="">Двухподвесы</a></li>
										<li><a href="">Электро</a></li>
									</ul>
								</li>
								<li>
									<a href="" class="btn-menu">Веломастерская</a>
								</li>
							</ul>
						</div>
						<div class="footer-menu-wrap">
							<ul class="menu">
								<li><a href="">Велосипеды</a></li>
								<li><a href="">Самокаты</a></li>
								<li><a href="">Запчасти</a></li>
								<li><a href="">Экипировка</a></li>
								<li><a href="">Инструменты</a></li>
								<li><a href="">Веломастерская</a></li>
								<li><a href="">Аксессуары</a></li>
							</ul>
							<ul class="menu">
								<li><a href="">Санки</a></li>
								<li><a href="">Санки-Коляски</a></li>
								<li><a href="">Снегокаты</a></li>
								<li><a href="">Тюбинги</a></li>
								<li><a href="">Аксессуары</a></li>
							</ul>
							<ul class="menu">
								<li><a href="">О компании</a></li>
								<li><a href="">Пункты самовывоза</a></li>
								<li><a href="">Вакансии</a></li>
								<li><a href="">Сертификаты</a></li>
								<li><a href="">Отзывы</a></li>
								<li><a href="">Каталог</a></li>
								<li><a href="">Доставка</a></li>
								<li><a href="">Гарантия и ремонт</a></li>
							</ul>
						</div>
						<div class="footer-info-wrap">
							<p>©2023 «<b>PROTREK.LIFE</b>». Все права защищены. <br>Ежедневно: с 9:00 до 22:00 по МСК</p>
						</div>
					</div>
				</div>
			</div>
			<div class="toggle-filter-wrap">
				<a href="" class="btn button-gray button-winter">
					<div class="button-ico">
						<img src="./img/icons/filter-winter.svg" alt="">
					</div>
					<div class="button-title">Зимнее  </div>
				</a>
				<a href="" class="btn button-gray active">
					<div class="button-ico">
						<img src="./img/icons/filter-summer.svg" alt="">
					</div>
					<div class="button-title">Летнее  </div>
				</a>
			</div>
		</div>
	</nav>
	<!--/header-nav-panel-->
</header>
<!-- /header -->